{% extends 'base.html.twig' %}

{% block title %}Liste des 5 derniers articles{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <h1>{{ title }}</h1>
    </div>
    {% if app.request.session.get('nom') == null %} 
    <button class="btn btn-primary bouton_ajout"><i class="fa fa-newspaper-o"></i>&nbsp;<a href="{{ path('ajout_article') }}" style="text-decoration: none; color: white">Ajouter un article</a></button>
    <button class="btn btn-primary bouton_ajout"><i class="fa fa-user"></i>&nbsp;<a href="{{ path('ajout_auteur') }}" style="text-decoration: none; color: white">Ajouter un auteur</a></button>
    <br><br>
    {% else %}
    <button class="btn btn-primary bouton_ajout"><i class="fa fa-newspaper-o"></i>&nbsp;<a href="{{ path('ajout_article') }}" style="text-decoration: none; color: white">Ajouter un article</a></button>
    
    <br><br>
    {% endif %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Titre</th>
                <th scope="col">Auteur</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if articles is empty %}
                <tr><td colspan="2" align="center">Aucune article</td></tr>
            {% else %}
                {% for article in articles %}
                    <tr>
                        <td>{{ article.titre }}</td>
                        <td>{{ article.Auteur }}</td>
                        <td><button class="btn btn-success"><a href="{{ path('article', {'id': article.id}) }}" style="color: white"><i class="fa fa-eye"></i></a></button></td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
{% endblock %}
